<form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
    <h2>Вход</h2>
    <div>
        <label for="имя_пользователя">Имя пользователя</label>
        <input id="имя_пользователя" formControlName="имя_пользователя" type="text" placeholder="Введите имя пользователя">
    </div>
    <div>
        <label for="пароль">Пароль</label>
        <input id="пароль" formControlName="пароль" type="password" placeholder="Введите пароль">
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Войти</button>
</form>
<div *ngIf="errorMessage" class="error-notification">
    <span>{{ errorMessage }}</span>
</div>
<div *ngIf="successMessage" class="success-notification">
    <span>{{ successMessage }}</span>
</div>