nav {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, rgb(42, 141, 255), rgb(7, 0, 112));
    color:white;
}
a{
    color: white;
}
