
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">NetworkWeb</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="/" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">about</a>
          </li>
          <li class="nav-item">
            <a routerLink="/contact" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">contact</a>
          </li>
        </ul>
        <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a routerLink="/login" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">login</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/registration" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">registration</a>
                </li>
              </ul>
        </form>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>