<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сетевое Оборудование</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
  
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">NetworkWeb</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a routerLink="/about" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">О нас</a>
          </li>
          <li class="nav-item">
            <a routerLink="/contact" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">Контакты</a>
          </li>
          <li class="nav-item">
            <a routerLink="/otzivs" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">Отзывы</a>
          </li>
          <li class="nav-item" *ngIf="authService.getUserRole() === 'user' || authService.getUserRole() === 'admin'">
            <a routerLink="/categories" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">Категории товаров</a>
          </li>
          <li class="nav-item" *ngIf="authService.getUserRole() === 'user' || authService.getUserRole() === 'admin'">
            <a routerLink="/corzina" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">Корзина</a>
          </li>
          <li class="nav-item" *ngIf="authService.getUserRole() === 'user' || authService.getUserRole() === 'admin'">
            <a routerLink="/zakaz" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">Заказы</a>
          </li>
          <!-- Условное отображение ссылки на страницу "Пользователи" -->
          <li class="nav-item" *ngIf="authService.getUserRole() === 'admin'">
            <a routerLink="/users" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">Пользователи</a>
          </li>
          <li class="nav-item" *ngIf="authService.getUserRole() === 'user' || authService.getUserRole() === 'admin'">
            <a routerLink="/weather" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">Погода</a>
          </li>
          <li class="nav-item" *ngIf="authService.getUserRole() === 'user' || authService.getUserRole() === 'admin'">
            <a routerLink="/postavshik" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">Поставщики</a>
          </li>
          <li class="nav-item" *ngIf="authService.getUserRole() === 'user' || authService.getUserRole() === 'admin'">
            <a routerLink="/izbran" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">Избранное</a>
          </li>
          <li class="nav-item" *ngIf="authService.getUserRole() === 'user' || authService.getUserRole() === 'admin'">
            <a routerLink="/opisanie" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">Описание</a>
          </li>
          <li class="nav-item" *ngIf="authService.getUserRole() === 'user' || authService.getUserRole() === 'admin'">
            <a routerLink="/vopros" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">Вопросы</a>
          </li>

        </ul>
        
        <form class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!authService.isAuthenticated(); else loggedIn">
            <li class="nav-item">
              <a routerLink="/login" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">Вход</a>
            </li>
            <li class="nav-item">
              <a routerLink="/register" class="nav-link active" routerLinkActive="active" ariaCurrentWhenActive="page">Регистрация</a>
            </li>
          </ul>
          <ng-template #loggedIn>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <span class="nav-link">Привет, {{ authService.getUsername() }}</span>
              </li>
              <li class="nav-item">
                <button routerLink="/home" class="nav-link btn" (click)="authService.logout()">Выход</button>
              </li>
            </ul>
          </ng-template>
        </form>
      </div>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
</body>
</html>