html, body {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #f4f4f4; /* Светло-серый фон */
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #007BFF; /* Синий цвет */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white; /* Белый текст */
}

.main-content {
    flex: 1;
    padding: 20px;
}

.info-section {
    margin: 20px auto;
    padding: 20px;
    background: #fff8e1; /* Кремовый фон */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Легкая тень */
    text-align: center;
    margin-bottom: 40px;
}

.products-section {
    text-align: center;
}

.section-title {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #007BFF; /* Синий фон для заголовка */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white; /* Белый текст для заголовка */
}

.products-grid {
    display: flex;
    justify-content: center; /* Выравнивание по центру */
    flex-wrap: wrap;
}

.product-card {
    margin: 20px;
    padding: 20px;
    background: #fff; /* Белая карточка продукта */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
    box-sizing: border-box;
    overflow: hidden; /* Предотвращает выход текста */
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.price {
    font-size: 1.2em;
    margin: 10px 0;
    color: #FFCC00; /* Нежно-желтый для цены */
}

.discount {
    color: #a60000; /* Темный красный для скидок */
    text-decoration: line-through;
    margin-left: 10px;
}

.description {
    font-size: 0.9em;
    overflow: hidden; /* Предотвращает выход текста */
    white-space: wrap; /* Текст не переносится */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05); /* Полупрозрачный фон */
    color: #333; /* Темно-серый текст */
    flex-shrink: 0;
}