html, body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, rgb(209, 32, 32), purple);

}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    color:white;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.info-section {
  
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 40px;
}

.products-section {
    text-align: center;
}

.section-title {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.products-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
   
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
   
    width: 250px;
    box-sizing: border-box;
    overflow: hidden; /* Предотвращает выход текста */
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.price {
    font-size: 1.2em;
    margin: 10px 0;
}

.discount {
    color: rgb(255, 0, 0);
    text-decoration: line-through;
    margin-left: 10px;
}

.description {
    font-size: 0.9em;
    overflow: hidden; /* Предотвращает выход текста */
   
    white-space: wrap; /* Текст не переносится */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    flex-shrink: 0;
}
