<div class="table-container">
    <h1>Вопросы и ответы</h1>
    <button (click)="goBackToProducts()" class="btn btn-primary">Назад к продуктам</button>
    <table>
        <thead>
            <tr>
                <th>Товар</th>
                <th>Пользователь</th>
                <th>Вопрос</th>
                <th>Дата создания</th>
                <th>Ответ</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vopros of voprosy">
                <td>{{ vopros.product_name }}</td>
                <td>{{ vopros.username }}</td>
                <td>{{ vopros.question }}</td>
                <td>{{ vopros.created_at | slice:0:10 }}</td>
                <td>{{ vopros.answer || 'Нет ответа' }}</td>
            </tr>
        </tbody>
    </table>
</div>